main{
    background: #050131;
    min-height: 57.4vh;
}

main article{
    padding: 5%;
    text-align: center;
    color: #ffffff;
    margin-top: 10%;
    margin-bottom: -30px;
}

main article h1{
    font-size: 30px;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: rgb(230, 27, 101); }
    30% { color: rgb(72, 228, 163); }
    60% { color: rgb(227, 229, 98); }
    90% { color: rgb(229, 56, 134); }
    100% { color: rgb(230, 27, 101); }
}

.image{
    padding: 0%;
    padding-bottom: 5%;
    margin-top: 0%;
}